@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.intro{
  @include mq('tablet-wide', max) {
    .intro-text{
      h1{
        text-align: center;
      }
      p {
        max-width: 600px;
      }
    }
  }
  @include mq('tablet', max) {
    .intro-text{
      p {
        max-width: 400px;
      }
    }
  }
  .intro-chore-title{
    margin: 100px 0;
    position: absolute;
    @include mq('tablet-wide', max) {
      transform: translate(-50%, 0);
      left: 50%;
    }
  }
  .intro-extra{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .intro-image{
    @include mq('tablet-wide', max) {
      opacity: 0.5;
      z-index: -1;
      width: 90%;
    }
  }
}

.intro-extra{
  text-align: center;
  margin: 100px 0;
  color:$titleColor;
}

.intro-chore {
  .chore-text {
    text-align: center;
    h1 {
      color:$titleColor;
      font-size: 72px;
    }
  }
  
}

#features{
  .icon1-parent{
    margin-bottom: 50px;
  }
}

.spending-limit{
  width: 200px;
  @include mq('tablet-wide', max) {
    width: 100%;
    text-align: center;
  }
}